## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [12]:
a= 10, 20, 30 #Entero

 
print(a)

(10, 20, 30)

2) Imprimir el tipo de dato de la variable 8.5

In [3]:
B= 8.5 #Float

print("La variable del valor de B es:", type (B))

La variable del valor de D es: <class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [13]:
print ("La variable del tipo de dato del punto 1 es:", type (a))

La variable del tipo de dato del punto 1 es: <class 'tuple'>

4) Crear una variable que contenga tu nombre

In [11]:
nombre = "Marcos"

5) Crear una constante que contenga el número Pi

In [3]:
PI = 3,14

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [4]:
print (type(PI))

<class 'tuple'>

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [16]:
E = 2.7182

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [5]:
variable_a = "True" 
variable_b = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [6]:
print (type(variable_a))
print (type(variable_b))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro flotante

In [9]:
Variable_suma = 8 + 4.5

11) Realizar una operación de suma de un número definido como string con un entero

In [10]:
numero_1 = 6
numero_2 = "9"

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [17]:
E_potencia = E**3

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [18]:
Usuario_1 = int(input("ingrese un numero "))
Usuario_2 = int(input("Ingrese un segundo numero"))
print(Usuario_1 * Usuario_2)

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [1]:
a=27
b=4
Division = a / b 
print(Division)

6.75

15) De la división anterior solamente mostrar la parte entera

In [2]:
a=27 
b=4
parte_entera = a // b 
print(parte_entera)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [3]:
a=27
b=4
resto = a % b 
print(resto)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [4]:
b= 4
c= 6
d= 3
resultado = b * c + d
print(resultado)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [6]:
p_18_a = "2" 
p_18_b = 2 
print(type(p_18_a),type(p_18_b))
print(p_18_a == p_18_b)

<class 'str'> <class 'int'>
False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [7]:
p_18_a = int("2") 
p_18_b = 2 
print(type(p_18_a),type(p_18_b))
print(p_18_a == p_18_b)

<class 'int'> <class 'int'>
True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [19]:
a=float('3,8') 
#El error se debe a que no puede colocarse una coma para un numero decimal, si fuese una separacion de un punto si podria realizarse 
a=float('3.8')
#En este caso si dara correcta la ecuacion realizada

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [24]:
10 + '10'= #No esta permitido por que son 2 tipos de datos distitos 
print (10 + int('10')) #De esta manera si se podria realizar la suma necesaria

SyntaxError: cannot assign to expression (60167545.py, line 1)

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

In [9]:
Menu= "1_Pizza, 2_Empanadas,  3_Milanesas, 4_Salir"
print (Menu)

1_Pizza, 2_Empanadas,  3_Milanesas, 4_Salir

23) Crear una lista que contenga los números del 1 al 10

In [14]:
Lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [15]:
print (Lista[8])

9

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [19]:
Lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Lista.insert(3, "MARCOS")
Lista.remove(3)
print(Lista)

[1, 2, 'MARCOS', 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [22]:
Matriz_1 = [["A","B","C"], ["D","E","F"], ["G","H","I"]]

27) Imprimir la matriz creada en el punto 26

In [23]:
print(Matriz_1)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [24]:
Matriz_1 [1] [1]= "Z"
print(Matriz_1)

[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [29]:
Matriz_1 [0] [0]=1
Matriz_1 [0] [1]=2
Matriz_1 [0] [2]=3

30) Crear una tupla que contenga 5 marcas de ropa

In [33]:
tuple= ("Nike","Adidas","Puma","UnderArmour","Topper")

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [35]:
print(tuple[0])

Nike

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [3]:
tuple(1) == "Reebok"
#El error al ejecutar, se debe a que no puede modificarse una tupla

TypeError: 'int' object is not iterable

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [14]:
lista_1 ={ "Nombre" : "Marcos", "Apellido": "Villanueva", "Edad": "24", "Hobbies": "Ir a la cancha, jugar futbol"  }

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [16]:
print(lista_1 ["Hobbies"])

Ir a la cancha, jugar futbol

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [17]:
lista_1 ["Edad"] = 26
print (lista_1 ["Edad"])

26